{% extends 'book_app/base.html' %}

{% block title %}
<title>Authors</title>
{% endblock %}

{% block content %}
<h1>Authors</h1>
<form class="d-flex mb-3" role="search" action="{% url 'book_app:author_list' %}" method="get">
    <input class="form-control me-2" type="search" placeholder="Search Authors" aria-label="Search" name="query"
        value="{{ request.GET.query }}">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<a href="{% url 'book_app:author_add' %}" class="btn btn-success mb-3">Add New Author</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col" class="d-none d-md-table-cell">Email</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for author in authors %}
        <tr>
            <td>
                <a href="{% url 'book_app:author_detail' author.pk %}">{{ author.name }}</a>
            </td>
            <td class="d-none d-md-table-cell">{{ author.email }}</td>

            <td>
                <a href="{% url 'book_app:author_edit' author.pk %}" class="btn btn-sm btn-outline-primary">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'book_app:author_delete' author.pk %}" class="btn btn-sm btn-outline-danger">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="3">No authors found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; first</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">&laquo; first</span>
        </li>
        <li class="page-item disabled">
            <span class="page-link">previous</span>
        </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">next</span>
        </li>
        <li class="page-item disabled">
            <span class="page-link">last &raquo;</span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}