{% extends 'book_app/base.html' %}

{% block title %}
<title>{{ author.name }}</title>
{% endblock %}

{% block content %}
<h1>{{ author.name }}</h1>
<p>Email: {{ author.email }}</p>
{% if author.headshot %}
<img src="{{ author.headshot.url }}" class="img-fluid" alt="{{ author.name }} headshot">
{% endif %}

<a href="{% url 'book_app:author_edit' author.pk %}" class="btn btn-primary">
    <i class="fas fa-edit"></i> Edit
</a>
<a href="{% url 'book_app:author_delete' author.pk %}" class="btn btn-danger">
    <i class="fas fa-trash"></i> Delete
</a>
<br>
<br>

<h2>Books authored by {{ author.name }}</h2>
<ul>
    {% for book in books %}
    <li><a href="{% url 'book_app:book_detail' book.pk %}">{{ book.title }} ({{ book.publication_date }})</a></li>
    {% empty %}
    <li>No books found for this author.</li>
    {% endfor %}
</ul>
{% endblock %}