<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/685899c1e0.js" crossorigin="anonymous"></script>
    {% block title %}
    <title>Base Page</title>
    {% endblock %}

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'book_app:index' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link {% if nbar == 'publishers' %}active{% endif %}"
                            href="{% url 'book_app:publisher_list' %}">Publishers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if nbar == 'authors' %}active{% endif %}"
                            href="{% url 'book_app:author_list' %}">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if nbar == 'books' %}active{% endif %}"
                            href="{% url 'book_app:book_list' %}">Books</a>
                    </li>

                </ul>
                <form class="d-flex mx-2" role="search" action="{% url 'book_app:search' %}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        name="query">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-3">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="container p-3 my-3">
        {% block content %}
        {% endblock %}
    </div>

    <div class="container">
        <footer class="py-3 my-4">
            <p class="text-center text-body-secondary">&copy; 2024 <a href="https://t.me/jbhonest" target="_blank">Jamal
                    Badiee</a></p>
        </footer>
    </div>


</body>

</html>