{% extends 'book_app/base.html' %}

{% block title %}
<title>{{ book.title }}</title>
{% endblock %}

{% block content %}
<h1>{{ book.title }}</h1>
<p>Publisher: {{ book.publisher }}</p>
<p>Publication Date: {{ book.publication_date }}</p>

<h2>Authors</h2>
<ul>
    {% for author in book.authors.all %}
    <li><a href="{% url 'book_app:author_detail' author.pk %}">{{ author.name }}</a></li>
    {% empty %}
    <li>No authors listed.</li>
    {% endfor %}
</ul>
{% if book.cover %}
<img src="{{ book.cover.url }}" class="img-fluid" alt="{{ book.title }} cover">
{% endif %}

<br>
<br>
<a href="{% url 'book_app:book_edit' book.pk %}" class="btn btn-primary" style="width: 6rem;">
    <i class="fas fa-edit"></i> Edit
</a>
<a href="{% url 'book_app:book_detail_pdf' book.pk %}" class="btn btn-success" style="width: 6rem;">
    <i class="fas fa-file-pdf"></i> Export
</a>
<a href="{% url 'book_app:book_delete' book.pk %}" class="btn btn-danger" style="width: 6rem;">
    <i class="fas fa-trash"></i> Delete
</a>


{% endblock %}