{% extends 'book_app/base.html' %}

{% block title %}
<title>{{ book.title }}</title>
{% endblock %}

{% block content %}
<h1>{{ book.title }}</h1>
<p>Publisher: {{ book.publisher }}</p>
<p>Publication Date: {{ book.publication_date }}</p>

<h2>Authors</h2>
<ul class="list-group">
    {% for author in book.authors.all %}
    <li class="list-group-item">{{ author.name }}</li>
    {% empty %}
    <li class="list-group-item">No authors listed.</li>
    {% endfor %}

    {% if book.cover %}
    <h2>Cover</h2>
    <img src="{{ book.cover.url }}" class="img-fluid" alt="{{ book.title }} cover">
    {% endif %}
</ul>
{% endblock %}