{% extends 'book_app/base.html' %}

{% block title %}
<title>{{ publisher.name }}</title>
{% endblock %}

{% block content %}
<h1>{{ publisher.name }}</h1>
<p>Address: {{ publisher.address }}</p>
<p>City: {{ publisher.city }}</p>
<p>State/Province: {{ publisher.state_province }}</p>
<p>Country: {{ publisher.country }}</p>
<p>Website: <a href="{{ publisher.website }}">{{ publisher.website }}</a></p>

<a href="{% url 'book_app:publisher_edit' publisher.pk %}" class="btn btn-primary">
    <i class="fas fa-edit"></i> Edit
</a>
<a href="{% url 'book_app:publisher_delete' publisher.pk %}" class="btn btn-danger">
    <i class="fas fa-trash"></i> Delete
</a>
<br>
<br>
<h2>Books published by {{ publisher.name }}</h2>
<ul>
    {% for book in books %}
    <li><a href="{% url 'book_app:book_detail' book.pk %}">{{ book.title }} ({{ book.publication_date }})</a></li>
    {% empty %}
    <li>No books found for this publisher.</li>
    {% endfor %}
</ul>

{% endblock %}